---
layout: default
---
<div>

  <header>
    <h3>{{ page.title | escape }}</h3>
  </header>
    
    <p>Daily tips on JavaScript</p>
    
    <div>
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <div class="blue-box">
                <div class="daily-var">
                    var daily
                </div>
                <div class="daily-id">
                    = {{ post.number }}
                </div>
            </div>

            <h2 class="daily-post-title">
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}
                <span class="post-excerpt">{{ post.excerpt }}</span></a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>

</div>